body {
    background-color: rgb(124, 170, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 30vw;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}