body {
    background-color: rgb(124, 170, 255);
    font: normal 15pt Arial;
}

header {
    margin: 10px auto;
    color: white;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    text-align: center;
}

main {
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 15px;
    width: 25vw;
    /* margin: auto; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
    text-align: center;
}


footer {
    margin: 50px auto;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}